<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard - Smart Enrollment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container text-center mt-5">
    <h2>Welcome to Smart Enrollment System</h2>
    <a th:href="@{/login}" class="btn btn-primary m-2">Login</a>
    <a th:href="@{/register}" class="btn btn-success m-2">Register Employee</a>
</div>
</body>
</html>
